// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(251, 251, 251);
}

.list {
  background: #fff;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.list .item {
    border-bottom: 2px solid #edeff0;
 }

.list .item .item-div {
      padding: 20px 0px 20px 0px;
}





a.ng-scope.ng-binding.editable.editable-click.completed {
  text-decoration: line-through;
}



label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: initial;
}

.new-todo {
  width: 100%;
padding: 15px;
font-size: 25px;
margin-top:5px;
text-align: center;
border-top: transparent;
border-left: transparent;
border-right: transparent;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: none;

  }

  md-checkbox.md-checked.check-box .md-icon {
    background-color: rgba(16,108,200,0.87);
}

md-checkbox {
  margin-bottom:0px;
}

a.delete-btn {
  color: #ca2727;
  font-size: 25px;
  text-decoration:none;
  :hover {
    text-decoration:none;
  }
}

a.add-btn {
  font-size:20px;
      text-decoration:none;
  :hover {
    text-decoration:none;
  }
}

a.todo-description {
  font-size:20px;
  font-weight:200;
  color: #404040;
}

input.editable-input {
  font-size:18px;
  height:50px;
  width:100% !important;
}

.editable-controls.form-group {
  width:100%;
}

form.form-inline {
  width:80%;
}

.margin-b-20 {
  margin-bottom:20px;
}

.list-name {
  font-size: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-transform: capitalize;
}

.my-filter {
  margin-left:40px;
  margin-right:40px;
}

.filter-div {
  margin-top:25px;
  font-size:18px;
  a {
    padding:5px;
    text-decoration:none;
  }
}

a.selected {
  border: 1px solid #e6e6e6;
}

input:focus {
    outline: none;
}

.arrow-btn {
  font-size: 27px;
margin-left: 15px;
color: #109e10;
}

.back-btn {
  float: left;
  font-size:20px;
  color: #109e10;
}

.search-btn {
  font-size: 15px;
  text-align: center;
}

.error-message {
  color:red;
  margin-top:5px;
}

.home-links {
  border: solid 1px #245b8a;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
}

.angular-icon {
border: solid 1px black;
padding-top: 51px;
padding-bottom: 43px;
margin-right: 5px;
}
