// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.list {
  background: #fff;
  text-align: left; }
.list .item {
    border-bottom: 2px solid #edeff0;
 }

.list .item .item-div {
      padding: 20px 0px 20px 0px;
}



.list .edited label:after {
    content: " edited";
    text-transform: uppercase;
    color: #a7b9c4;
    font-size: 14px;
    padding-left: 5px; }




a.ng-scope.ng-binding.editable.editable-click.completed {
  text-decoration: line-through;
}

    input[type=checkbox], input[type=radio] {
    zoom: 2.5;
    margin-top:0px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: initial;
}

.new-todo {
  width: 100%;
padding: 15px;
font-size: 25px;
text-align: center;
border-top: transparent;
border-left: transparent;
border-right: transparent;
}

.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: none;

  }
