<div class="list">
  <a href="/"><i class=" back-btn fa fa-reply" aria-hidden="true"></i></a>
  <h1 class=" list-name text-center ">About</h1>

  <br>
  <p class="about-text">This application was made as a project for the Learn-verified curriculum. This project is a MVC CRUD application using Ruby on Rails back-end, SQLite DB, Angular front-end, Sass, HTML5, and CSS3. The code can be found on Github <a href="https://github.com/rgylling/angular-rails-to-do-app"> Right Here </a></p>


  <br>
  <br>
  <br>
  <div class="text-center">
    <img src="assets/html5.png">
    <img src="assets/css.png">
    <img class="angular-icon" src="assets/AngularJS.png">
    <img src="assets/ruby-rails.png">
  </div>

</div>
