<div class="list">

  <h1 class=" list-name text-center">Your List's</h1>

  <div class="margin-b-20">
    <a class="add-btn" href="" ng-click="showme=true">+ Add a List</a>
      <input class="search-btn pull-right" placeholder="Search for a List" ng-model="search.name">
  </div>
  <form ng-show="showme" ng-submit="vm.handleCreate(); showme=false">
    <input type="text"
    class="new-todo"
    placeholder="Type Your List Name"
    ng-model="vm.list.name"
    required
    >
  </form>


  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="list in vm.lists | filter:search">



    <div class="item-div">


      <a onbeforesave="vm.handleEdit(list.id, list)" blur="submit" buttons="no" class="todo-description"  href="#" editable-text="list.name">{{ list.name || 'empty' }}</a>

      <div class="pull-right">


        <a class="delete-btn" href="#" ng-click="vm.handleDelete(list.id)">X</a>
        <a href="/lists/{{ list.id }}"> <i class=" arrow-btn fa fa-share" aria-hidden="true"></i></a>


      </div>
    </div>
  </div>
</div>
