


<div class="list">
  <h1 class="text-center" ng-bind="vm.list.name"> </h1>

  <a href="" ng-click="showme=true">+ Add a Todo</a>

  <form ng-show="showme" ng-submit="vm.handleCreate(); showme=false">
    <input type="text"
    placeholder="New Todo"
    ng-model="vm.todo.description"
    ng-blur="vm.handleCreate(); showme=false"
    >
  </form>

  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in vm.list.todos">
    <br>
    <div>
      <input ng-checked="todo.complete" type="checkbox" ng-bind="todo.complete" ng-click="vm.toggleComplete(todo, todo.id)">
      <label ng-class="todo.complete ? 'completed' : 'not-complete'" ng-click="editing = true"  ng-hide="editing" class="editing-label">{{todo.description}}</label>
      <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.description" class="editing-label" type="text"/>
      <button ng-click="vm.handleEdit(todo,todo.id)">Save</button>
      <button ng-click="vm.handleDelete(todo.id)">Delete</button>
    </div>




  </div>

  <br>


</div>
