


<div class="list">
  <h1 class="text-center" ng-bind="vm.list.name"> </h1>

  <a href="" ng-click="showme=true">+ Add a Todo</a>

  <form ng-show="showme" ng-submit="vm.handleCreate(); showme=false">
    <input type="text"
    class="new-todo"
    placeholder="Type Your Todo"
    ng-model="vm.todo.description"
    ng-blur="vm.handleCreate(); showme=false"
    required
    >
  </form>

  <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}" ng-repeat="todo in vm.list.todos">

    <!-- <a href="#" editable-text="todo.description">{{ todo.description || 'empty' }}</a> -->

    <div class="item-div">
      <md-checkbox ng-change="vm.handleEdit(todo,todo.id)" aria-label="Checkbox 1" ng-model="todo.complete">
      </md-checkbox>
      <!-- <input class="pull-left" ng-checked="todo.complete" type="checkbox" ng-bind="todo.complete" ng-click="vm.toggleComplete(todo, todo.id)"> -->
      <a ng-class="todo.complete ? 'completed' : 'not-complete'" href="#" editable-text="todo.description">{{ todo.description || 'empty' }}</a>
      <!-- <label ng-class="todo.complete ? 'completed' : 'not-complete'" ng-click="editing = true"  ng-hide="editing" class="editing-label">{{todo.description}}</label> -->
      <!-- <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.description" class="editing-label" type="text"/> -->
      <div class="pull-right">
        <a ng-click="vm.handleEdit(todo,todo.id)">Save</a>
        <a ng-click="vm.handleDelete(todo.id)">Delete</a>
      </div>
    </div>




  </div>

  <br>


</div>
